<!DOCTYPE html>
<html>
<head>
<title>ORIGINAL</title>
</head>
<body background="GR.jpg">
<br>
<h1 align="center"><font color="ffffff" face="Narkisim">MEGAMINX</font><h1>
<table width="300" height="600" align="center" border="3" background="GRB.jpg">
<td colspan="2"><h3 align="center"><font color="ffffff" face="Narkisim">SON ROMPECABEZAS EN FORMA DE DODECAEDRO, QUE REQUIEREN LOS PASOS DE UN 3x3 PERO CON UN POCO MAS DE INGENIO.</font><h3>
<tr>
<td><img src="megaminx.png" width="250" height="250">
<td align="center" width="50" height="50"><a href="Menu.html"><img src="bb.png" width="150" height="150"></a></center></td>
</tr>
</body>
</html>