<!DOCTYPE html>
<html>
<head>
<title>ORIGINAL</title>
</head>
<body background="GR.jpg">
<br>
<h1 align="center"><font color="ffffff" face="Narkisim">GEAR</font><h1>
<table width="300" height="600" align="center" border="3" background="GRB.jpg">
<td colspan="2"><h3 align="center"><font color="ffffff" face="Narkisim">SON CUBOS MODIFICADOS PARA QUE EN SUS GIROS INTERACCIONEN ENGRANAJES, LA DIFICULTAD INCREMENTA POR LA CANTIDAD DE PIEZAS QUE SE MUEVEM AL MISMO TIEMPO.</font><h3>
<tr>
<td><img src="gear.png" width="250" height="250">
<td align="center" width="50" height="50"><a href="Menu.html"><img src="bb.png" width="150" height="150"></a></center></td>
</tr>
</body>
</html>