<!DOCTYPE html>
<html>
	<head>
		<title>Extraclase</title>
	</head>
	<body background="GR.jpg">
		<br>
			<h1 align="center"><font color="ffffff" face="Narkisim">RUBIKS</font></h1>
			<h3 align="center"><font color="ffffff" face="Narkisim">BIENVENIDO A MI EXTRACLASE, UN RESUMEN GENERAL DE ESTILOS DE CUBOS RUBIK CON ALGUNA CURIOSIDAD. DELE CLICK AL CUBO PARA IR AL MENU DE CATEGORIAS</font><h3>
				<br>		
					<td><center><a href="Menu.html"><img src="3x3.png"></a></center></td> 
				
				
				
				
				
				</table>
	
	</body>



<html>